<div class="header">
    <div class="header_left">
        <span class="material-icons">
            menu
            </span>
            <img src="assets/download.png" alt="">
    </div>
    <div class="header_middle">
        <span class="material-icons">search</span>
        <input type="text" placeholder="Search Mail">
        <span class="material-icons">arrow_drop_down</span>
    </div>
    <div class="header_right">
        <span class="material-icons">apps</span>
        <span class="material-icons">notifications</span>
        <span class="material-icons">account_circle</span>
    </div>
</div>
