<div class="main_body">

    <!-- sidebar -->

    <app-sidebar></app-sidebar>

    <!-- sidebar -->

    <!-- email -->

    <div class="emaillist">
        <div class="emaillist_settings">
            <div class="emaillist_settingLeft">
                <input type="checkbox">
                <span class="material-icons">arrow_drop_down</span>
                <span class="material-icons">redo</span>
                <span class="material-icons">more_vert</span>
            </div>
    
            <div class="emaillist_settingRight">
                <span class="material-icons">chevron_left</span>
                <span class="material-icons">chevron_right</span>
                <span class="material-icons">keyboard_hide</span>
                <span class="material-icons">settings</span>
            </div>
        </div>

        <div class="emaillist_sections">
            <div class="section section_selected">
                <span class="material-icons">inbox</span>
                <h4>Primary</h4>
            </div>
    
            <div class="section">
                <span class="material-icons">people</span>
                <h4>Social</h4>
            </div>
    
            <div class="section">
                <span class="material-icons">local_offer</span>
                <h4>Promotions</h4>
            </div>
        </div>

         
  <div class="emaillist_list">
    <div class="emailRow">
        <div class="emailRow_options">
            <input type="checkbox">
            <span class="material-icons">star_border</span>
            <span class="material-icons">label_important</span>
        </div>
        <h3 class="emailRow_title">Facebook</h3>
        <div class="emailRow_message">
            <h4>olenna,
                <span class="emailRow_description"> you have 27 new notifications and 18 friend requests</span>
            </h4>
        </div>
        <p class="emailRow_time">11:08 AM</p>
    </div>

    <div class="emailRow">
        <div class="emailRow_options">
            <input type="checkbox">
            <span class="material-icons">star_border</span>
            <span class="material-icons">label_important</span>
        </div>
        <h3 class="emailRow_title">Facebook</h3>
        <div class="emailRow_message">
            <h4>olenna,
                <span class="emailRow_description"> you have 27 new notifications and 18 friend requests</span>
            </h4>
        </div>
        <p class="emailRow_time">11:08 AM</p>
    </div>

    <div class="emailRow">
        <div class="emailRow_options">
            <input type="checkbox">
            <span class="material-icons">star_border</span>
            <span class="material-icons">label_important</span>
        </div>
        <h3 class="emailRow_title">Facebook</h3>
        <div class="emailRow_message">
            <h4>olenna,
                <span class="emailRow_description"> you have 27 new notifications and 18 friend requests</span>
            </h4>
        </div>
        <p class="emailRow_time">11:08 AM</p>
    </div>
  </div>
    </div>
   
    <!-- email -->
    
</div>
